h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: rgb(14, 7, 159);
    font-weight: bolder;
}
*{
    background-color: rgba(112, 152, 202);
}